<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/codipy_icon.ico">

    <title>Codipy</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/flow-style.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <!-- Custom font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Inner Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="../js/flow.js" type="text/javascript"></script>
    <script src="../js/imageUpload.js" type="text/javascript"></script>

</head>

<body>
    <!-- Main Container -->
    <div class="container">

        <!-- Header -->
        <div class="header clearfix">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
        				<span class="sr-only">Toggle navigation</span>
								<i class="fa fa-bars fa-lg header-button-bar"></i>
      				</button>
                        <div class="header-title">
                            <img src="../img/codipy_logo.png" alt="Logo" class="img-responsive" hspace="5"></img>
                            <a class="navbar-brand" href="/">Codipy</a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="im_classify">Image Classification</a></li>
                                </ul>
                            </li>
                            <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="jumbotron">
            <p class="lead">
                <%= title %>
            </p>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p class="pull-left">&copy; 2017 Codipy.run</p>
        </footer>

    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="../js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>